* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    height: 10rem;
    border-radius: 10px;
    background-color: white;
    margin-top: 2rem;
    color: black;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}