* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    height: 10rem;
    border-radius: 10px;
    background-color: white;
    margin-top: 2rem;
}